<section id="intro" class="text-intro no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10">
        <h1>
          Hello.
          <br>
          I'm <span class="text-primary">Juyeon Park</span>,
          <br>
          want to be web and software <span class="text-primary">Developer</span>.
        </h1>
      </div>
    </div>
  </div>
</section>
